{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <h2>Edit Inventory for {{ inventory.product }}</h2>
  <form method="POST" action="{% url 'product_inventory' inventory.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
  <a href="{% url 'inventory' %}">Back to inventry</a>
{% endblock %}
