{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% comment %} Block content here {% endcomment %}

{% block content %}
  <h1>Confirm Deletion</h1>
  <p>Are you sure you want to delete "{{ discount.name }}"?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Yes, Delete</button>
  </form>
  <a href="{% url 'discounts' %}">Cancel</a>
</div>
{% endblock %}
