{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-lg">
  <div class="row">
      <div class="col">
              <h2 class="logo-font mb-4">Discounts</h2>
      </div>
  </div>
  <div class="row">
      <table class="table">
          <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col"> Product</th>
              <th scope="col"> Percent</th>
              <th scope="col"> Start Date</th>
              <th scope="col"> status</th>
              <th scope="col"> End  Date</th>
              <th scope="col">Delete </th>
          </tr>
          </thead>
          <tbody>
          {% for discount in discounts %}
          <tr>
              <th scope="row">{{discount.id}}</th>
              <td>
                  <a class="font-weight-bold text-black" href="{% url 'update_discount' discount.id %}"
                  title="{{ discount.id }}">
                      {{ discount.name|truncatewords:6 }}
                  </a>
              </td>
              <td>{{discount.product}}</td>
              <td>{{discount.discount_percent}}</td>
              <td>{{discount.start_date}}</td>
              <td>{{discount.active}}</td>
              <td>{{discount.end_date}}</td>
              <td>
                <a class="font-weight-bold text-danger" href="{% url 'delete_discount' discount.id %}"
                  title="{{ discount.id }}">
                      Delete
                  </a>
              </td>
          </tr>
          {% endfor %}         
          </tbody>
      </table>
  </div>
</div>

  <h1></h1>
  <ul>
    {% if discounts %}
    {% for discount in discounts %}
      <li>
        {{ discount.name }} - {{ discount.discount_percent }}%
        <a href="{% url 'update_discount' discount.id %}">Edit</a>
        <form method="post" action="{% url 'delete_discount' discount.id %}">
          {% csrf_token %}
          <button type="submit">Delete</button>
        </form>
      </li>
    {% endfor %}
    {% else %}
    <p>You have no discounts</p> 
    {% endif %}
  </ul>
  
  {% comment %} <a href="{% url 'create_discount' product.id %}">Create Discount</a> {% endcomment %}
  <a href="{% url 'home' %}">Back to Home</a>
{% endblock %}
