{% extends "base.html" %}
{% load static %}

{% block page-header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% comment %} Block content here {% endcomment %}
{% block content %}
<div class="container-md">
  <div class="row">
      <div class="col-12 col-md-6">
          <hr>
          <h2 class="logo-font mb-4">Product Management</h2>
          <h5 class="text-muted">Edit Discount</h5>
          <hr>
      </div>
  </div>
  <div>
  <form class=" mb-5" method="post">
    {% csrf_token %}
    {{ form | crispy}}
    <a class="btn btn-outline-black rounded-2 mr-2" href="{% url 'discounts' %}">Back to Discount List</a>
    <button class="btn btn-black rounded-2" type="submit">Save</button>
  </form>
  </div>
</div>
{% endblock %}
